*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.container-navbar{
    display:flex;
    align-items: center;
    justify-content:space-around;
    padding: 15px 0;
    background-color: #333;
    color: #ccc;
}

.logo{
    letter-spacing: 3px;
    font-size: 30px;
    color: #ccc;
    padding: 10px;
    cursor: pointer;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0px 15px;
}

.navbar li a{
    color: #ccc;
    text-decoration: none;
    font-size: 30px;
}

.navbar li a .fa-facebook{
    transition: all 300ms;
}

.navbar li a .fa-facebook:hover{
    color: #3b5998;
    transform: scale(1.2)
}

.navbar li a .fa-instagram{
    transition: all 300ms;
}

.navbar li a .fa-instagram:hover{
    color: #af4ca4;
    transform: scale(1.2)
}

.navbar li a .fa-twitter{
    transition: all 300ms;
}

.navbar li a .fa-twitter:hover{
    color: #00caee;
    transform: scale(1.2)
}

.principal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    color: #333;
    height: 830px;
    background-image: url('../src/assets/wallpaper1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.titulos-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.titulo{
    font-size: 65px;
    margin-bottom: 30px;
}

.resaltado{
    font-weight: bold;
    color: yellow;
    text-shadow: 1px 1px 3px black;
}

.subtitulo{
    font-size: 30px;
    line-height: 50px;
}

.imagen {
    margin-left: 100px;
}

.imagen img{
    width: 450px;
    border-radius: 10px;
}

.input-container{
    margin: 50px 0;
}

.input-container input[type='email']{
    border: none;
    padding: 12px;
    border-radius: 50px;
    font-size: 20px;
    width: 600px;
}

input[type='email']:focus{
    outline: none;
}

.input-container input[type='submit']{
    font-size: 20px;
    color: #ccc;
    background-color: #333;
    margin-left: 30px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

input[type='submit']{
    font-size: 20px;
    color: #ccc;
    background-color: #333;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.beneficios-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e6e6;
    width: 100%;
    height: 300px;
}

.beneficio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px 30px;
}

.beneficio i{
    font-size: 60px;
    margin-right: 15px;
}

.beneficio span{
    font-size: 20px;
}

.container-testimonios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ccc;
    background: linear-gradient(#e7e6e6 0%, #7a7a7a 100%);
}

.container-persona{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 300px;
    border: 2px solid white;
    margin: 40px 25px;
    padding: 30px;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
}

.container-persona img{
    min-height: 250px;
    width: 320px;
    border-radius: 50%;
    padding: 10px 20px;
}

.container-persona h2{
    font-size: 26px;
    margin-bottom: 10px;
}

.container-testimonios .persona1{
    position:relative;
    display: flex;
    margin-left: 250px;
    width: 650px;
    transition: all 300ms;
}

.container-testimonios .aproved{
    position: absolute;
    width: 250px;
    transform: translateX(-50px) rotate(-15deg);
}

.container-testimonios .persona2{
    display: flex;
    margin-left: 950px;
    transition: all 300ms;
}

.container-testimonios .persona3{
    display: flex;
    margin-left: 250px;
    width: 650px;
    transition: all 300ms;
}

.containerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #7a7a7a;
    padding: 40px 0 200px 0;
    
}

.formContainer{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #ccc 0%, #797979 100%);
    width: 800px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 40px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.form label{
    font-weight: bold;
    margin-bottom: 10px;

}

.ul{
    width: 100%;
    list-style-type: none;
}

.liOne{
    display: flex;
    padding: 15px 25px;
    gap: 20px;
}

.li{
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 15px 25px;
}

.nameSurname{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

input[type='text'],
input[type='email']{
    margin-top: 7px;
    padding: 10px;
    border: none;
}

input[type='text']:focus,
input[type='email']:focus{
    outline: none;
}

.textContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
    margin-bottom: 70px;
}

.textContainer h1{
    color: #eeeeee;
    font-size: 50px;
    margin: 10px 0;
    text-shadow: 1px 1px 3px black;
}

.aproved{
    width: 150px;
    background-color: transparent;
}

.big-container-lenguajes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #c4c3c3;
    width: 100%; 
}

.container-lenguaje{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    padding: 100px 0;
}

.logosContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 50px 0;
    width: 80%;
}

.logosContainer img{
    width: 130px;
}

.text-lenguajes{
    font-size: 70px;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    background-color: #7a7a7a;
    padding: 100px 0;
}

.contact{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
}

.contact-us{
    font-weight: bold;
    padding-bottom: 10px;
}

.phone{
    padding: 15px 0;
}

.phone i{
    margin-right: 15px;
    color: yellow;
}

.mail{
    padding: 15px 0;
}

.mail i{
    margin-right: 15px;
    color: yellow;
}

.location{
    padding: 15px 0;
}

.location i{
    margin-right: 15px;
    color: yellow;
}

.rrss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.rrss-text{
    font-weight: bold;
    padding-bottom: 10px;
}

.rrss-logos{
    padding: 20px 0;
}

.rrss-logos i{
    font-size: 45px;
    margin: 0 15px;
    color: yellow;
    padding: 20px;
    text-shadow: 1px 1px 3px black;
    transition: all 300ms;
}

.rrss-logos .fa-facebook:hover{
    color: #3b5998;
    transform: scale(1.2)
}

.rrss-logos .fa-instagram:hover{
    color: #af4ca4;
    transform: scale(1.2)
}

.rrss-logos .fa-twitter:hover{
    color: #00caee;
    transform: scale(1.2)
}

.reserved{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c4c3c3;
    padding: 15px 0;
    font-weight: 400;
    border-top: 2px solid gray
}












